@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.formInput {
  margin-bottom: 20px;
}
.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: 'center';
  align-items: 'center';
}
.formError {
  color: #bf1650;
}
.formError::before {
  display: inline;
  content: '⚠ ';
}
